@let board = (boardSize$ | async);
{{'BoardSize:'}}{{board}}

@let boardContent = (boardContent$ | async);
@let currentPlayer = (currentPlayer$ | async);
<br>
{{'boardContent:'}} {{boardContent | json}}

@if (board) {
        <div
         class="grid gap-4"
        [ngStyle]="{
        'grid-template-columns': 'repeat(' + (boardContent && boardContent[0] ? boardContent[0].length : 0) + ', 1fr)'
      }"
        >

            @for(row of boardContent; track row; let rowIndex = $index) {
                @for(col of boardContent; track col; let colIndex = $index) {

                    <app-cell
                        [value]="row[colIndex]"
                        (clicked)="handleSquareClick(rowIndex, colIndex)"
                    >
                    </app-cell>
                }
            }
        </div>
}
