@if (winner() === 'X' || winner() === 'O') {
    <app-info-box
        [severity]="'success'"
        [message]="
            winner() === 'X'
                ? 'Congratulations, X player won!'
                : 'Congratulations, O player won!'
        "
    ></app-info-box>
} @else if (winner() === 'none') {
    <app-info-box
        [severity]="'warning'"
        [message]="'It is a draw, no one won. Play again!'"
    ></app-info-box>
} @else if (currentPlayer() === 'X' || currentPlayer() === 'O') {
    <app-info-box
        [severity]="'info'"
        [message]="
            currentPlayer() === 'X'
                ? 'It is your turn to play : X'
                : 'It is your turn to play : O'
        "
    ></app-info-box>
}
