<div class="flex mb-4 flex-col items-center justify-center">
    <h1 class="text-3xl font-bold mb-6 text-center">Tic Tac Toe</h1>
    <app-board-selection-form
        [boardSize]="boardSize()"
        [canChangeGame]="canChangeGame()"
        [canCreateGame]="canCreateGame()"
        (startGame)="handleStartGame($event)"
        (changeBoardSize)="handleChangeBoardSize($event)"
    ></app-board-selection-form>
</div>
@if (canCreateGame() || canChangeGame()) {
    <app-info-box
        [severity]="'info'"
        message="Create a new game to start playing. Good luck!"
    ></app-info-box>
}
