<div
    class="mt-10 items-center bg-white rounded-lg p-8 shadow-lg w-10/12 h-full mx-auto"
>
    <!-- Declare Variables with @let ( better visibility )-->
    @let currentPlayer = currentPlayer$ | async;
    @let boardSize = boardSize$ | async;
    @let winner = winner$ | async;
    @let canChangeGame = winner === 'X' || winner === 'O' || winner === 'none';
    @let canCreateGame = winner === 'X' || winner === 'O' || winner === 'none';

    <app-board-info
        [canChangeGame]="canChangeGame"
        [canCreateGame]="canCreateGame"
    >
    </app-board-info>
    <app-board
        [canCreateGame]="canCreateGame"
        [winner]="winner"
        [currentPlayer]="currentPlayer"
    ></app-board>
    <app-board-player
        [currentPlayer]="currentPlayer"
        [winner]="winner"
    ></app-board-player>
</div>
