<div class="main-content">
    <!-- Declare Variables with @let ( better visibility )-->
    @let currentPlayer = currentPlayer$ | async;
    @let boardSize = boardSize$ | async;
    @let winner = winner$ | async;
    @let canChangeGame = !(currentPlayer === 'X' || currentPlayer === 'O');
    @let canCreateGame = winner === 'X' || winner === 'O' || winner === 'none';

    <app-board-info
        [canChangeGame]="canChangeGame"
        [canCreateGame]="canCreateGame"
        [boardSize]="boardSize"
    >
    </app-board-info>
    <app-board
        [boardSize]="boardSize"
        [canCreateGame]="canCreateGame"
        [winner]="winner"
        [currentPlayer]="currentPlayer"
    ></app-board>
    <app-board-player
        [currentPlayer]="currentPlayer"
        [winner]="winner"
    ></app-board-player>
</div>
