<div
    class="mt-10 items-center bg-white rounded-lg p-8 shadow-lg w-10/12 h-full mx-auto"
>
    <!-- Declare Variables with @let ( better visibility )-->
    @let currentPlayer = currentPlayer$ | async;
    @let boardSize = boardSize$ | async;
    @let winner = winner$ | async;

    <app-board-info
        [canChangeGame]="canChangeGame"
        [canCreateGame]="canCreateGame"
        (startGame)="handleStartGame($event)"
    >
    </app-board-info>
    <app-board  [canCreateGame]="canCreateGame"></app-board>
    <app-board-player [currentPlayer]="currentPlayer" [winner]="winner"></app-board-player>
</div>
